@import 'vars.less';

body{
	background:url('../_imgs/layout/bg_gaia.png') #F9F0E1 center top no-repeat;
	&.ie-body-home .fundo-maior, 
	&.body-home .fundo-maior { background:url('../_imgs/layout/transparencia-home.png') right top no-repeat; }
	&.ie-body-conheca .fundo-maior, 
	&.body-conheca .fundo-maior { background:url('../_imgs/layout/transparencia-conheca.png') 340px 157px no-repeat; }
	&.ie-body-trabalhamos .fundo-maior, 
	&.body-trabalhamos .fundo-maior { background:url('../_imgs/layout/transparencia-trabalhamos.png') 110px 323px no-repeat; }
	&.ie-body-nucleos .fundo-maior, 
	&.body-nucleos .fundo-maior { background:url('../_imgs/layout/transparencia-nucleos.png') 128px 157px no-repeat; }
	.fundo-maior{
		.centralizar;
		padding-top:40px;
		width:@largura_maior;
		.centro{
			.centralizar;
			width:@largura;
			header{
				position:relative;
				height:363px;
				#link-social{
					font-size: 0;
					position:absolute;
					left:0;
					top:0;
					width:70px;
					height:21px;
					li{
						.inline;
						width:20px;
						height:20px;
						margin-right:3px;
						a{
							.transition;
							display:block;
							width:20px;
							height:20px;
							text-indent: -9999px;
							&:active, &:visited{}
							&:hover{}
							&.twitter{ background:url('../_imgs/layout/social-twitter.png') center center no-repeat; }
							&.facebook{ background:url('../_imgs/layout/social-facebook.png') center center no-repeat; }
							&.linkedIn{ background:url('../_imgs/layout/social-linkedin.png') center center no-repeat;}
						}
					}
				}
				nav{
					height:98px;
					position:absolute;
					right:115px;
					top:0;
					width:570px;
					ul{
						list-style: none;
						font-size:0;
						li{
							.inline;
							a{
								display:block;
								.calibri(14px, bold);
								color:#fff;
								height:30px;
								line-height:30px;
								padding:0 15px;
								margin-bottom:3px;
								margin-right:3px;
								.arredondada(30px);
								.transition;
								&.escuro{ background-color:@azul_escuro; }
								&.medio{ background-color:@azul_medio; }
								&.claro{ background-color:@azul_claro; }
								&.marged{ margin-left:35px; }
								&.doublemarged{ margin-left:105px; }
								&:active, &:visited{color:#fff;}
								&.ativo, &:hover{
									background-color:@laranja;
								}
							}
						}
					}
				}
			}
			.main{
				margin-top:-263px;
				padding-top:45px;
				min-height:600px;				
				#spacer{
					float:left;
					height:128px;
				}
			}
		}
		footer{
			clear:both;
			background-color: #E5CFA9;
			padding:38px 0;
			margin-top:45px;
			.centro{
				position:relative;
				.endereco{
					color:#4D4D4D;
					line-height:160%;
					.calibri(11px);
					strong{ .calibri(12px, bold); }
				}
				#assinatura{
					color:#4D4D4D;
					line-height:160%;
					position: absolute;
					right:0;
					top:0;
					width:300px;
					text-align: right;
					.calibri(11px);
					a{
						.calibri(10px);
						color:#fff;
						color:#4D4D4D;
						vertical-align: baseline;
						span{ border-bottom:1px transparent dotted; }
						.transition;
						&:active, &:visited{}
						&:hover{
							color:#fff;
							span{ border-bottom:1px #fff dotted; }
						}
					}
				}
			}
		}
	}
}