@import 'vars.less';

.main{
	#spacer{ height:515px !important; width:344px; }
	font-size:0;
	.caixa-superior{
		h1{
			.pt(36px, bold);
			font-style: italic;
			color:@azul_escuro;
			line-height: 130%;
		}
		p{
			margin-top:20px;
			.calibri(14px);
			line-height:150%;
			color:@azul_escuro;
			&.sem-margem{ margin-top:0;}
		}
		h2{
			margin-top:20px;
			.pt(24px, bold);
			font-style: italic;
			color:@azul_escuro;
			line-height: 130%;
		}
	}
	h3{
		clear:both;
		padding-bottom:15px;
		color:@laranja;
		.pt(36px, bold);
		font-style: italic;		
	}
	#nav-conheca{
		width:550px;
		height:375px;
		position:relative;
		.inline;
		.hexagon{
			.inline;
			overflow: hidden;
			visibility: hidden;
			width: 195px;
			height: 195px;
			margin:0;
			-webkit-transform: rotate(-30deg) skewX(30deg) scaleY(.866);
			-moz-transform: rotate(-30deg) skewX(30deg) scaleY(.866);
			-ms-transform: rotate(-30deg) skewX(30deg) scaleY(.866);
			-o-transform: rotate(-30deg) skewX(30deg) scaleY(.866);
			transform: rotate(-30deg) skewX(30deg) scaleY(.866);
			position:absolute;
			&#link1{
				top:0px;
				left:85px;
				a{
					background: url('../_imgs/layout/bg-hex-radial-capital-escuro.png') center center no-repeat;
					&:hover, &.marcado{
						color:transparent;
						background: url('../_imgs/layout/bg-hex-radial-edmundo.png') center center no-repeat;	
					}
				}
			}
			&#link2{
				top:0px;
				left:259px;
				a{
					background: url('../_imgs/layout/bg-hex-radial-capital-escuro.png') center center no-repeat;
					&:hover, &.marcado{
						color:transparent;
						background: url('../_imgs/layout/bg-hex-radial-renata.png') center center no-repeat;	
					}
				}
			}
			&#link3{
				top:154px;
				left:0px;
				a{
					background: url('../_imgs/layout/bg-hex-radial-capital-claro.png') center center no-repeat;
					&:hover, &.marcado{
						color:transparent;
						background: url('../_imgs/layout/bg-hex-radial-fabio.png') center center no-repeat;	
					}
				}
			}
			&#link4{
				top:154px;
				left:173px;
				a{
					background: url('../_imgs/layout/bg-hex-radial-capital-claro.png') center center no-repeat;
					&:hover, &.marcado{
						color:transparent;
						background: url('../_imgs/layout/bg-hex-radial-beatriz.png') center center no-repeat;	
					}
				}
			}
		}
		.hexagon a {
			visibility: visible;
			display: block;
			margin:0 auto;
			height: 125px;
			width:175px;
			padding-top:70px;
			.pt(20px, bold);
			font-style: italic;
			line-height:130%;
			text-align:center;
			color:#fff;
			-webkit-transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.966);
			-moz-transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.966);
			-ms-transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.966);
			-o-transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.966);
			transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.966);
			.transition;			
			&:active, &:visited{color:#fff;}			
		}
	}
	#div-conheca{
		.inline;
		width:430px;
		.texto{
			h2{
				.pt(20px);
				font-style:italic;
				color:@laranja;
				margin-bottom:5px;
			}
			p{
				.calibri(14px);
				color:@azul_escuro;
				margin-bottom:20px;
			}
		}
	}
}