@import 'vars.less';

.main{
	#spacer{ height:215px !important; width:396px; }
	font-size:0;
	.caixa-superior{
		padding-bottom:15px;
		h1{
			.pt(36px, bold);
			font-style: italic;
			color:@azul_escuro;
			line-height: 130%;
		}
	}
	.link-clientes{
		.inline;
		width:188px;
		height:188px;
		.arredondada(10px);
		margin-right:10px;
		margin-bottom:10px;
		position:relative;
		z-index:999999;
		img{
			.arredondada(10px);
			.transition;
		}
		&:hover{
			img{
				-webkit-box-shadow:0 0 8px 1px @laranja;
				-moz-box-shadow:0 0 8px 1px @laranja;
				-ms-box-shadow:0 0 8px 1px @laranja;
				-o-box-shadow:0 0 8px 1px @laranja;
				box-shadow:0 0 8px 1px @laranja;
			}
		}
		&:nth-child(3){ margin-right:0;}
		&:nth-child(5n+8){ margin-right:0;}		
	}
}