@import 'vars.less';

.main{
	#spacer{ height:410px !important; width:535px; }
	.caixa-superior{
		h1{
			.pt(36px, bold);
			font-style: italic;
			color:@azul_escuro;
			line-height: 130%;
		}
		p{
			margin-top:20px;
			.calibri(14px);
			line-height:150%;
			color:@azul_escuro;
		}
	}
	h2{
		clear:left;
		margin:20px 0 15px 0;
		.pt(36px);
		font-style: italic;
		color:@laranja;
	}
	.grafico{
		font-size:0;
		padding:90px 0 0 0;
		min-height:800px;
		background:url('../_imgs/layout/transparencia-conheca2.png') center 205px no-repeat;
		.hexagono {
			width: 250px;
			padding: 5px 35px;
			height: 175px;
			position: relative;
			text-align: center;
			line-height: 160%;
			.calibri(14px);
			.inline;
			&.laranja{
				color:@azul_escuro;
				background-color:rgba(253, 205, 154, .85);
				&:before{ border-bottom-color:rgba(253, 205, 154, .85); }
				&:after{ border-top-color:rgba(253, 205, 154, .85); }
			}
			&.azul{
				color:#fff;
				width: 196px;
				padding: 5px 35px;
				height: 143px;
				strong{
					.calibri(18px, bold);
					color:#fff;
					margin-bottom:5px;
				}
				&:before {
					border-left: 133px solid transparent;
					border-right: 133px solid transparent;
					border-bottom: 77px solid transparent;
					top: -77px;
				}
				&:after {
					border-left: 133px solid transparent;
					border-right: 133px solid transparent;
					border-top: 77px solid transparent;
					bottom: -77px;
				}
				&.azul5{
					background-color:@azul5;
					&:before{ border-bottom-color:@azul5; }
					&:after{ border-top-color:@azul5; }
				}
				&.azul4{
					background-color:@azul4;
					&:before{ border-bottom-color:@azul4; }
					&:after{ border-top-color:@azul4; }
				}
				&.azul3{
					background-color:@azul3;
					&:before{ border-bottom-color:@azul3; }
					&:after{ border-top-color:@azul3; }
				}
				&.azul2{
					background-color:@azul2;
					&:before{ border-bottom-color:@azul2; }
					&:after{ border-top-color:@azul2; }
				}
				&.azul1{
					background-color:@azul1;
					&:before{ border-bottom-color:@azul1; }
					&:after{ border-top-color:@azul1; }
				}
				&.topo{ margin-bottom:85px; }
				&.meio-espaco-esquerda{ margin:0 10px 0 138px; }
			}
			&.meio{ margin:0 10px;}
		}
		.hexagono:before {
			content: "";
			position: absolute;
			top: -95px;
			left: 0;
			width: 0;
			height: 0;
			border-left: 160px solid transparent;
			border-right: 160px solid transparent;
			border-bottom: 95px solid transparent;
		}
		.hexagono:after {
			content: "";
			position: absolute;
			bottom: -95px;
			left: 0;
			width: 0;
			height: 0;
			border-left: 160px solid transparent;
			border-right: 160px solid transparent;
			border-top: 95px solid transparent;
		}
		.valores{
			background-color:@azul_claro;
			.arredondada(50px);
			height:391px;
			margin-top:384px;
			padding-left:162px;
			position:relative;
			margin-bottom:145px;
			h3{
				color:#fff;
				.pt(36px, bold);
				line-height:140%;
				font-style: italic;
				width:200px;
				position: absolute;
				top:227px;
				left:35px;
			}
		}
	}
	h4{
		padding-bottom:30px;
		color:@laranja;
		.pt(36px, bold);
		font-style: italic;
		height:125px;
		p{
			.calibri(20px, bold);
			color:@azul_escuro;
			width:450px;
			line-height:130%;
			float:right;
			padding-right:80px;
		}
	}
}