@import 'vars.less';

.main{
	background:url('../_imgs/layout/transparencia-contato.png') 40px 180px no-repeat;
	#spacer{ height:1350px !important; width:460px; .inline;}
	font-size:0;
	.caixa-superior{
		position:relative;
		width:520px;
		.inline;
		z-index:99999;
		h1{
			.pt(36px, bold);
			font-style: italic;
			color:@azul_escuro;
			height:47px;
			line-height:47px;
			&.com-margem{margin-bottom: 28px;}
			.telefone{
				float:right;
				background-color:@laranja;
				.arredondada(10px);
				height:47px;
				line-height:47px;
				padding:0 55px;
				color:#fff;
				font-size:30px;				
			}
		}
		p{
			padding:5px 0;
			.calibri(14px);
			line-height:150%;
			color:@azul_escuro;
			&.sem-margem{ margin-top:0;}
		}
		.container-mapa{
			font-size: 0;
			padding-bottom:20px;
			.coluna{
				width:250px;
				.inline;
				&.com-margem{ margin-right:20px; }
				small{
					padding-top:3px;
					display: block;
					text-align:right;
					a{
						.calibri(11px, bold);
						color:@azul_escuro;
						.transition;
						&:active, &:visited{color:@azul_escuro;}
						&:hover{}
					}
				}
			}
		}
		.form-container{
			h1{
				.pt(36px, bold);
				font-style: italic;
				color:@azul_escuro;
				.transition;
				cursor: pointer;
				&:hover{
					color:@laranja;
				}
				span{
					display:none;
				}
			}
			h2{
				.transition;
				.calibri(14px);
				color:@azul_escuro;
			}
			form{
				.transition;				
			}
			input[type="text"],
			input[type="email"]{
				background-color:#FEC083;
				padding:3px 10px;
				color:@azul_escuro;
				.calibri(14px);
				height:24px;
				line-height:24px;
				margin:0 0 10px 0;
				border:none;
				display:block;
				width:500px;
				.arredondada(5px);
				.placeholder(@azul_escuro);
			}
			textarea{
				resize:none;
				height:130px;
				background-color:#FEC083;
				padding:3px 10px;
				color:@azul_escuro;
				.calibri(14px);
				margin:0 0 10px 0;
				border:none;
				display:block;
				width:500px;
				.arredondada(5px);
				.placeholder(@azul_escuro);
			}
			input[type="submit"]{
				display:block;
				background:@azul_escuro;
				text-align:center;
				height:30px;
				line-height:30px;
				color:#fff;
				border:0;
				padding:0;
				margin:0;
				width:520px;
				.calibri(16px, bold);
				.arredondada(5px);
				.transition;
				&:hover{
					cursor:pointer;
					background-color:@laranja;					
				}
			}
			#fake-input{
				height:30px;
				margin-bottom:10px;
				position:relative;
				display:block;
				#overlay{
					position:absolute;
					top:0;
					left:0;
					height:30px;
					line-height:30px;
					width:500px;
					padding:0 10px;
					background: url('../_imgs/layout/bg-fake-input.png') 98% center no-repeat;
					z-index:2;
					.calibri(16px);
					color:@azul_escuro;
					background-color: @laranja;
					.arredondada(5px);
					.transition;
					cursor: pointer;
					&:hover{					
						color:#fff;					
					}
				}
				input[type="file"]{
					position:absolute;
					top:0;
					left:0;
					height:30px;
					line-height:30px;
					width:520px;
					z-index:1;
				}
			}
			&.hid{
				h1 span{
					.inline;
				}
				h2{ height:0 !important; overflow:hidden !important; }
				form{ height:0 !important; overflow:hidden !important; }				
			}
			&#fale-conosco{
				padding-top:5px;
				form{ height:297px; }
			}
			&#trabalhe-conosco{
				margin-top:30px;
				form{ height:418px; }
			}
		}		
	}
}