@import 'vars.less';

.main{
	#spacer{ height:128px !important; width:350px; }
	.caixa-superior{
		h1{
			.pt(36px, bold);
			font-style: italic;
			color:@azul_escuro;
			line-height: 130%;
			height:128px;
		}
	}
	h2{
		padding:0 30px;
		height:40px;
		line-height:40px;
		color:#fff;
		.pt(18px, bold);
		margin-bottom:10px;
		font-style: italic;
		.arredondada(30px);
		.inline;
		&.azul5{ background-color:@azul5; }
		&.azul_medio{ background-color:@azul_medio; }
		&.azul_claro{ background-color:@azul_claro; }
		&.r{
			float:right;
			margin-right:167px;
		}
		&.l{
			float:left;
			margin-left:140px;
		}
	}
	.linha{
		clear:both;
		height: 110px;
		width:570px;
		margin-bottom:10px;
		.calibri(13px);
		color:#fff;
		position:relative;
		p{
			height: 110px;
			overflow:hidden;
		}
		&.azul5{
			background-color:#2F5071;
			padding:20px 130px 20px 55px;
			&:before{
				content: "";
				position: absolute;
				left: -43px;
				top: 0;
				width: 0;
				height: 0;
				border-top: 75px solid transparent;
				border-bottom: 75px solid transparent;
				border-right: 43px solid #2F5071;
			}
			.hexagono{ 
				background-color: @azul5; 
				top:0; 
				right:-86px; 
			}
			.hexagono:before{ border-bottom-color:@azul5; }
			.hexagono:after{ border-top-color:@azul5; }
		}
		&.azul_medio{
			background-color:#2E78AE;
			padding:20px 55px 20px 130px;
			&:after{
				content: "";
				position: absolute;
				right: -43px;
				top: 0;
				width: 0;
				height: 0;
				border-top: 75px solid transparent;
				border-bottom: 75px solid transparent;
				border-left: 43px solid #2E78AE;
			}
			.hexagono{ 
				background-color: @azul_medio;
				top:0; 
				left:-86px;
			}
			.hexagono:before{ border-bottom-color:@azul_medio; }
			.hexagono:after{ border-top-color:@azul_medio; }	
		}
		&.azul_claro{
			background-color:#31A3D1;
			padding:20px 130px 20px 55px;
			&:before{
				content: "";
				position: absolute;
				left: -43px;
				top: 0;
				width: 0;
				height: 0;
				border-top: 75px solid transparent;
				border-bottom: 75px solid transparent;
				border-right: 43px solid #31A3D1;
			}
			.hexagono{ 
				background-color: @azul_claro;
				top:0; 
				right:-86px;
			}
			.hexagono:before{ border-bottom-color:@azul_claro; }
			.hexagono:after{ border-top-color:@azul_claro; }	
		}
		&.r{ float:right; margin-right:86px; }
		&.l{ float:left; margin-left:53px; }
		.hexagono{
			width: 173px;
			padding: 30px 0;
			height: 40px;
			position: absolute;
			text-align: center;
			line-height: 160%;
			.calibri(14px, bold);
			&:before {
				content: "";
				position: absolute;
				top: -50px;
				left: 0;
				width: 0;
				height: 0;
				border-left: 86px solid transparent;
				border-right: 86px solid transparent;
				border-bottom: 50px solid transparent;
			}
			&:after {
				content: "";
				position: absolute;
				bottom: -50px;
				left: 0;
				width: 0;
				height: 0;
				border-left: 86px solid transparent;
				border-right: 86px solid transparent;
				border-top: 50px solid transparent;
			}
			&.quatro-linhas{
				padding: 10px 0;
				height: 80px;
			}
		}
		&.ultima{
			margin-bottom:70px;
		}
	}
}