@import 'vars.less';

.main{
	font-size:0;
	#spacer{ width:343px; }
	.caixa-superior{
		.inline;
		height:126px;
		width:635px;
		.tagline{
			.pt(28px, bold);
			font-style: italic;
			color:@azul_escuro;
		}
		.tagline2{
			font-style: italic;
			line-height: 140%;
			.pt(16px);
			color:@azul_escuro;
		}
	}
}
.body-home{
	.hive{
		position:relative;
		.celula{
			position:relative;
			&#celula-desenvolvimento{
				width:564px;
				height:552px;
				margin-left:40px;
				font-size:0;
				h1{
					position:absolute;
					top:110px;
					left:0;
					width:165px;
					.pt(20px, bold);
					font-style: italic;
					color:@azul_escuro;
				}
			}
			&#celula-rh{
				width:564px;
				height:552px;
				font-size:0;
				position:absolute;
				top: 0;
				left:500px;
				h1{
					position:absolute;
					top:110px;
					left:0;
					width:165px;
					.pt(20px, bold);
					font-style: italic;
					color:@azul_escuro;
				}	
			}
			&#celula-humano{
				height:390px;
				margin:45px 0 0 133px;
				width:664px;
				h1{
					position:absolute;
					top:110px;
					left:0;
					width:165px;
					.pt(20px, bold);
					font-style: italic;
					color:@azul_escuro;
				}
				.hexagon{
					&#segundo-home{ left:382px; top:5px; }
					&#terceiro-home{ left:285px; top:170px; }
					&#quarto-home{ left:478px; top:170px; }
				}
			}
			.hexagon { 
				// Classes Comuns
				&.hex-container-centered{ margin:0 auto; 	}
				&.hex-container-lined{ .inline; margin-right:6px; }
				&.hex-container-absolute{ position:absolute; }

				// Posicionamento
				&#primeiro-home{ left:190px; top:5px; }
				&#segundo-home{ left:94px; top:170px; }
				&#terceiro-home{ left:284px; top:170px; }
				&#quarto-home{ left:190px; top:337px; }
				&#quinto-home{ left:380px; top:336px; }

				overflow: hidden;
			    visibility: hidden;
			    -webkit-transform: rotate(120deg);
			       -moz-transform: rotate(120deg);
			         -o-transform: rotate(120deg);
			            transform: rotate(120deg);					    		    
			}
			.hexagon-in1 {
			    overflow: hidden;
			    width: 100%;
			    height: 100%;
			    -webkit-transform: rotate(-60deg);
			       -moz-transform: rotate(-60deg);
			         -o-transform: rotate(-60deg);
			            transform: rotate(-60deg);
			}
			.hexagon-in2 {
			    width: 100%;
			    height: 225px;
			    .transition;
			    display:block;
			    background-repeat: no-repeat;
			    background-position: 50%;
			    .calibri(16px, bold);
			    padding-top:175px;
			    text-align:center;
			    color:#fff;
			    &.marinho{background-image: url('../_imgs/layout/bg-hex-marinho.png');}
			    &.medio{background-image: url('../_imgs/layout/bg-hex-medio.png');}
			    &.claro{background-image: url('../_imgs/layout/bg-hex-claro.png');}
			    &.hex-semi-padding{
			    	padding-top:155px;
			    	height:245px;
			    }
			    &#imagem-post-it{background-image: url('../_imgs/layout/bg-hex-post-it.png');}
			    &#imagem-chuva{background-image: url('../_imgs/layout/bg-hex-chuva.png');}
			    &#imagem-maos{background-image: url('../_imgs/layout/bg-hex-maos.png');}
				&#imagem-pensando{background-image: url('../_imgs/layout/bg-hex-pensando.png');}
				&#imagem-bote{background-image: url('../_imgs/layout/bg-hex-bote.png');}
				&#imagem-vazio{background-image: url('../_imgs/layout/bg-hex-vazio-bege.png');}
			    visibility: visible;
			    -webkit-transform: rotate(-60deg);
			       -moz-transform: rotate(-60deg);
			         -o-transform: rotate(-60deg);
			            transform: rotate(-60deg);
			}
			a.hexagon-in2:hover {
				cursor:pointer;
			    background-image: url('../_imgs/layout/bg-hex-hover.png');
			}
			.hexagon2 {
			    width: 200px;
			    height: 400px;
			    margin: -90px 0 0 -6px;
			}
			.versao-mapa{ display:none; }
		}
	}
}


.ie-body-home{
	.hive{
		position:relative;
		.celula{
			position:relative;
			.hexagon{ display:none; }
			&#celula-desenvolvimento{
				width:564px;
				height:552px;
				margin-left:40px;
				font-size:0;
				h1{
					position:absolute;
					top:110px;
					left:0;
					width:165px;
					.pt(20px, bold);
					font-style: italic;
					color:@azul_escuro;
				}
			}
			&#celula-rh{
				width:564px;
				height:552px;
				font-size:0;
				position:absolute;
				top: 0;
				left:500px;
				h1{
					position:absolute;
					top:110px;
					left:0;
					width:165px;
					.pt(20px, bold);
					font-style: italic;
					color:@azul_escuro;
				}	
			}
			&#celula-humano{
				height:390px;
				margin:45px 0 0 133px;
				width:664px;
				h1{
					position:absolute;
					top:110px;
					left:0;
					width:165px;
					.pt(20px, bold);
					font-style: italic;
					color:@azul_escuro;
				}
			}
			.versao-mapa{
				position:absolute;
				top:0;
				&#container-mapa1{
					left:94px;
					.trasnp{
						width:470px;
						height:552px;
						position:absolute;
						z-index:30;
					}
					.imgmapa{
						width:470px;
						height:552px;
					}
					ul{
						width:470px;
						height:552px;
						position:absolute;
						left:0;
						top:0;
						z-index:20;
						list-style:none;
						li{
							position:absolute;
							z-index:20;
							padding-top:90px;
							.calibri(16px, bold);
							line-height:125%;
							a{
								color:#fff;
								&:active, &:visited{color:#fff;}
							}
							text-align:center;
							display:none;
							width:194px;
							height:132px;
							&#mapa1-link1-img{
								top:0px;
								left:95px;
								background:url('../_imgs/layout/bg-hex-hover.png') no-repeat;
							}
							&#mapa1-link2-img{
								top:165px;
								left:0px;
								background:url('../_imgs/layout/bg-hex-hover.png') no-repeat;
							}
							&#mapa1-link3-img{
								top:330px;
								left:95px;
								background:url('../_imgs/layout/bg-hex-hover.png') no-repeat;
							}
						}
					}
				}
				&#container-mapa2{
					left:94px;
					.trasnp{
						width:470px;
						height:552px;
						position:absolute;
						z-index:30;
					}
					.imgmapa{
						width:470px;
						height:552px;
					}
					ul{
						width:470px;
						height:552px;
						position:absolute;
						left:0;
						top:0;
						z-index:20;
						list-style:none;
						li{
							padding-top:90px;
							.calibri(16px, bold);
							line-height:125%;
							a{
								color:#fff;
								&:active, &:visited{color:#fff;}
							}
							text-align:center;
							position:absolute;
							z-index:20;
							display:none;
							width:194px;
							height:132px;
							&#mapa2-link1-img{
								top:0px;
								left:93px;
								background:url('../_imgs/layout/bg-hex-hover.png') no-repeat;
							}
							&#mapa2-link2-img{
								top:165px;
								left:-1px;
								background:url('../_imgs/layout/bg-hex-hover.png') no-repeat;
							}
							&#mapa2-link3-img{
								top:330px;
								left:93px;
								background:url('../_imgs/layout/bg-hex-hover.png') no-repeat;
							}
						}
					}
				}
				&#container-mapa3{
					left:190px;
					.trasnp{
						width:471px;
						height:381px;
						position:absolute;
						z-index:30;
					}
					.imgmapa{
						width:471px;
						height:381px;
					}
					ul{
						width:471px;
						height:381px;
						position:absolute;
						left:0;
						top:0;
						z-index:20;
						list-style:none;
						li{
							.calibri(16px, bold);
							line-height:125%;
							a{
								color:#fff;
								&:active, &:visited{color:#fff;}
							}
							text-align:center;
							position:absolute;
							z-index:20;
							display:none;
							width:194px;
							&#mapa3-link1-img{
								padding-top:100px;
								height:132px;
								top:0px;
								left:0px;
								background:url('../_imgs/layout/bg-hex-hover.png') no-repeat;
							}
							&#mapa3-link2-img{
								padding-top:72px;
								height:132px;
								top:0px;
								left:190px;
								background:url('../_imgs/layout/bg-hex-hover.png') no-repeat;
							}
						}
					}
				}
			}
		}
	}
}