@import 'vars.less';

.main{
	#spacer{ display:none; }
	font-size:0;
	.box-wrapper{
		.inline;
		width:677px;
		padding-top:400px;
		min-height:900px; /* TEMP */
		position:relative;
		.hexagon {
			.inline;
			overflow: hidden;
			visibility: hidden;
			width: 260px;
			height: 260px;
			margin:0;
			-webkit-transform: rotate(-30deg) skewX(30deg) scaleY(.866);
			-moz-transform: rotate(-30deg) skewX(30deg) scaleY(.866);
			-ms-transform: rotate(-30deg) skewX(30deg) scaleY(.866);
			-o-transform: rotate(-30deg) skewX(30deg) scaleY(.866);
			transform: rotate(-30deg) skewX(30deg) scaleY(.866);
			position:absolute;
			&#link1{
				top:133px;
				left:189px;
			}
			&#link2{
				top:133px;
				left:420px;
			}
			&#link3{
				top:335px;
				left:74px;
			}
			&#link4{
				top:335px;
				left:305px;
			}
			&#link5{
				top:536px;
				left:190px;
			}
			&#link6{
				top:536px;
				left:420px;
			}
		}
		.hexagon a {
			visibility: visible;
			display: block;
			width: 218px;
			margin:0 21px;
			.pt(20px, bold);
			font-style: italic;
			line-height:130%;
			text-align:center;
			color:#fff;
			-webkit-transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.996);
			-moz-transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.996);
			-ms-transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.996);
			-o-transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.996);
			transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.996);
			background: url('../_imgs/layout/bg-hex-radial.png') center center no-repeat;
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover, &.marcado{
				background: url('../_imgs/layout/bg-hex-radial-hover.png') center center no-repeat;
			}
			&.treslinhas{
			 	padding-top:85px;
			 	height: 175px;
			}
			&.quatrolinhas{
				padding-top:70px;
				height: 190px;
			}
			&.cincolinhas{
				padding-top:60px;
				height: 200px;	
			}
		}		
	}
	.coluna2{
		.inline;
		width:300px;
		min-height:900px; /* TEMP */
		h1{
			.pt(36px, bold);
			font-style: italic;
			margin-bottom:28px;
			color:@azul_escuro;
			line-height: 140%;
		}
		#destino-texto{
			.calibri(13px);
			color:@azul_escuro;
			line-height:160%;
			p{

			}
			.info-programa{
				display:block;
				margin-top: 45px;
				border:5px @azul_escuro solid;
				.arredondada(6px);
				background:url('../_imgs/layout/mail.png') @azul_escuro right center no-repeat;
				min-height:50px;
				.texto{
					width:200px;
					padding:8px 0 2px 10px;
					color:#fff;
					.calibri(16px, bold);
					line-height:130%;
					.transition;
				}
				&:hover{
					.texto{
						color:@laranja;
					}
				}
			}
		}
	}
}
/*220x254*/