@import 'vars.less';

.main{
	height:873px;
	#spacer{ height:410px !important; width:415px; }
	.caixa-superior{
		h1{
			.pt(36px, bold);
			font-style: italic;
			color:@azul_escuro;
			line-height: 130%;
		}
		p{
			margin-top:20px;
			.calibri(14px);
			line-height:150%;
			color:@azul_escuro;
		}
	}
	h2{
		clear:left;
		margin:20px 0 15px 0;
		.pt(36px);
		font-style: italic;
		color:@laranja;
	}
	#texto-trabalhamos{
		margin-left:658px;
		margin-top:35px;
		p{
			.calibri(13px);
			color:@azul_escuro;
			margin-bottom:24px;
			&.com-borda{
				border-bottom:2px @laranja solid;
				margin-bottom: 10px;
				padding-bottom:10px;
			}
		}
	}
}