@import 'vars.less';

.main{
	background:url('../_imgs/layout/transparencia-valor.png') left 183px no-repeat;
	#spacer{ height:515px !important; width:344px; }
	font-size:0;
	.caixa-superior{
		h1{
			.pt(36px, bold);
			font-style: italic;
			color:@azul_escuro;
			line-height: 130%;
		}
	}
	#floated-text{
		padding:25px 0;
		width: 425px;
		float:right;		
	}
	#beneficios{
		clear:both;
		width:1070px;
		margin-left:-90px;
		padding-left:90px;
		padding-bottom:50px;
		background:url('../_imgs/layout/transparencia-valor-2.png') right top no-repeat;
		padding-top:75px;
		position:relative;
		.text{
			width:470px;
		}
		#quote{
			position:absolute;
			right:0;
			top:260px;
			color:@azul_escuro;
			width:385px;
			padding-right:20px;
			line-height:170%;
			padding-top:60px;
			background:url('../_imgs/layout/quote.png') right top no-repeat;
			.pt(18px, bold);
			font-style:italic;
			text-align:right;
			span{
				.calibri(14px, normal);
				font-style: normal;
				display:block;
				padding-top:15px;
			}
		}
	}
	h2{
		.calibri(20px, bold);
		color:@azul_escuro;
		margin-bottom:20px;
	}
	p{
		.calibri(14px);
		color:@azul_escuro;
		margin-bottom:10px;
		padding-bottom:10px;
		border-bottom:2px @laranja solid;
		&.sem-borda{border-bottom:none;}
	}
}